pydub
asn1crypto
backports.functools-lru-cache
beautifulsoup4
certifi
cffi
chardet
cryptography
cycler
decorator
epub
html2text
html5lib
idna
ipaddress
keyring
keyrings.alt
lxml
matplotlib
numpy
olefile
pexpect
Pillow
ptyprocess
pyasn1
pycparser
pyparsing
PySocks
python-dateutil
pytz
pyxdg
scipy
scour
SecretStorage
six
webencodings
